* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.floor {
    background: black;
    overflow: hidden;
}

.floor::after {
    display: block;
    background: linear-gradient(180deg, #676d55 0, #5f6b52 8.33%, #56684f 16.67%, #4c654b 25%, #406249 33.33%, #325e46 41.67%, #1f5944 50%, #005443 58.33%, #005044 66.67%, #004c46 75%, #004849 83.33%, #00454c 91.67%, #004250 100%);;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(2);
    transform-origin: center;
    transition: all linear 0.5s;
    animation: 6s bg-movement alternate infinite;
}

.floor.grass::after, .floor.flame::after, .floor.stream::after {
    opacity: 0;
}

@keyframes bg-movement {
    from {
        transform: scale(2) translateY(-20%);
    }
    to {
        transform: scale(2) translateY(20%);
    }
}

.info a {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
}

.info a img{
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    .info {
        flex-flow: column nowrap;
    }
}

.info > section {
    position: relative;
    width: min(460px, 30%);
    height: 60%;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
    transition: ease 0.3s;
    border: 1px solid #444;
}

.info > .text-section:hover {
    animation:
        2s init-wave,
        3s loop-waves 2s alternate infinite;
    box-shadow: aquamarine 0 0 10px 4px ;
}

@keyframes init-wave {
    to {
        transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
    }
}
@keyframes loop-waves {
    from {
        transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
    }
    to {
        transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
    }
}

.info > .text-section::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(-50deg) translateX(40%);
    transform-origin: top left;
    transition: all ease-in 0.3s;
}

.info > .text-section:hover::after {
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(-50deg) translateX(20%);
}

.info section .title {
    color: azure;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    padding: 0.5rem;
}

.info .effect-section::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e59867 25% , #95e07b 66%, #51c5da);
    transition: ease-in 0.5s;
}

.info .effect-section:hover::before {
    opacity: 0;
}

.info .effect-section::after {
    display: block;
    content: 'Who am I?';
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    transition: ease-in 0.5s;
}

.info .effect-section:hover::after {
    opacity: 0;
}
