* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    padding: 0 calc((100% - 940px) / 2);
    width: 100%;
    height: 100%;
    display: flex;
}

.container nav {
    position: relative;
    height: max-content;
    margin: 240px 0 0 100px;
    padding-right: 1rem;
    border-right: 8px solid #eee;
    flex: 0 0 200px;
    font-size: 24px;
    font-weight: bold;
}

.container nav::before {
    position: absolute;
    z-index: -1;
    content: '';
    border-radius: 50%;
    background: #0018da;
    opacity: 0.4;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

.container nav::after {
    --short-side: 60px;
    position: absolute;
    z-index: -2;
    content: '';
    border: var(--short-side) solid transparent;
    border-bottom: calc(var(--short-side) * 1.414) solid #dac41f;
    opacity: 0.6;
    top: 0;
    transform: translate(-10%, -50%);
}

.container nav .name {
    font-size: 36px;
}

.container nav ul {
    list-style: none;
}

.container nav ul li {
    width: max-content;
    margin: 0.5rem 0;
}

.container nav ul li > a:hover {
    color: mediumpurple;
    opacity: 0.5;
}

.container nav ul li > a.active {
    color: mediumpurple;
}

.container a {
    color: black;
    text-decoration: none;
}

.container > section {
    flex: 1 0 auto;
}

section .github-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
}

section .github-icon img {
    width: 100%;
}

.router-view {
    width: 600px;
    height: 600px;
    margin: 2rem;
    position: relative;
    top: 160px;
}

.content_fun::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(mediumpurple, rebeccapurple);
    transition: ease-in 0.5s;
}

.content_fun:hover::before {
    opacity: 0;
}

.content_fun::after {
    display: block;
    content: 'Who am I?';
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    transition: ease-in 0.5s;
}

.content_fun:hover::after {
    opacity: 0;
}


/* #about */
article p:nth-of-type(1):first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: mediumpurple;
}

/*contact*/
.content_contact p {
    font-size: 1.5rem;
    line-height: 3rem;
}

.content_contact p b {
    display: inline-block;
    width: 6ch;
}

.content_contact p span {
    color: transparent;
    background: linear-gradient(60deg, #dac41f, mediumpurple);
    -webkit-background-clip: text;
}

.content_contact i {
    color: #aaa;
}
