* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.container nav {
    position: relative;
    height: max-content;
    margin: 240px 0 0 100px;
    padding-right: 1rem;
    border-right: 8px solid #eee;
    flex: 0 0 200px;
    font-size: 24px;
    font-weight: bold;
}

.container nav::before {
    position: absolute;
    z-index: -10;
    content: '';
    border-radius: 50%;
    background: #0018da;
    opacity: 0.4;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

.container nav::after {
    --short-side: 60px;
    position: absolute;
    z-index: -11;
    content: '';
    border: var(--short-side) solid transparent;
    border-bottom: calc(var(--short-side) * 1.414) solid #dac41f;
    opacity: 0.6;
    top: 0;
    transform: translate(-10%, -50%);
}

.container nav .name {
    font-size: 36px;
}

.container nav ul {
    list-style: none;
}

.container nav ul li {
    width: max-content;
    margin: 0.5rem 0;
}

.container a {
    color: black;
    text-decoration: none;
}

.container > section {
    flex: 1 0 auto;
}

section .github-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
}

section .github-icon img {
    width: 100%;
}

.content {
    width: 600px;
    height: 600px;
}

.floor {
    overflow: hidden;
}

.floor::after {
    /*display: block;*/
    /*background: linear-gradient(180deg, #676d55 0, #5f6b52 8.33%, #56684f 16.67%, #4c654b 25%, #406249 33.33%, #325e46 41.67%, #1f5944 50%, #005443 58.33%, #005044 66.67%, #004c46 75%, #004849 83.33%, #00454c 91.67%, #004250 100%);;*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*transform: scale(2);*/
    /*transform-origin: center;*/
    /*transition: all linear 0.5s;*/
    /*animation: 6s bg-movement alternate infinite;*/
}

.floor.grass::after, .floor.flame::after, .floor.stream::after {
    opacity: 0;
}

@keyframes bg-movement {
    from {
        transform: scale(2) translateY(-20%);
    }
    to {
        transform: scale(2) translateY(20%);
    }
}

.info > .text-section:hover {
    animation:
        2s init-wave,
        3s loop-waves 2s alternate infinite;
    box-shadow: aquamarine 0 0 10px 4px ;
}

@keyframes init-wave {
    to {
        transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
    }
}
@keyframes loop-waves {
    from {
        transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
    }
    to {
        transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
    }
}

.info > .text-section::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(-50deg) translateX(40%);
    transform-origin: top left;
    transition: all ease-in 0.3s;
}

.info > .text-section:hover::after {
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(-50deg) translateX(20%);
}

.info .text-section .title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    padding: 0.5rem;
}

.info .effect-section::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e59867 25% , #95e07b 66%, #51c5da);
    transition: ease-in 0.5s;
}

.info .effect-section:hover::before {
    opacity: 0;
}

.info .effect-section::after {
    display: block;
    content: 'Who am I?';
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    transition: ease-in 0.5s;
}

.info .effect-section:hover::after {
    opacity: 0;
}
