.contact-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  span {
    margin-left: 8px;
  }
}

.footer {
  border-top: 2px solid #666;
  padding-top: 4px;
  font-style: italic;
  width: max-content;
}
