<article>
  <p>Hi there!</p>
  <p>My name is <b>Kunlin Li</b>, and have been as a full-time frontend developer for about 5 years.</p>
  <p>
    In my past jobs, I usually processed kinds of tasks about toB project, have many experience on
    communicating with upstream and downstream colleagues and finding out the user demand, and thus finding
    the final solution.
  </p>
  <p>
    I'm familiar with the modern necessary knowledge about frontend, such as HTML, CSS, JavaScript,
    TypeScript, Vue, Angular and more. Since we need do some co-working frequently, network and
    some backend knowledge are also in my brain.
  </p>
  <p>
    Besides, cause the experience of pixi.js, paper.js, things which are related to code will interest me.
    I think it can take more possibilities to frontend and make your websites more attractive. Therefore,
    CSS Animation, Canvas Animation and related knowledge are something I'm going deep into recently.
  </p>
</article>

