h3 {
  background: -webkit-linear-gradient(45deg, gold, plum);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 60vh;
  overflow: auto;
  margin-bottom: 1rem;


  .card-item {
    flex: 1 1 clamp(280px, 30%, 400px);
    margin: 1rem;

    img {
      width: 100%;
    }

    button + button {
      margin-left: 4px;
    }
  }
}
