<h3>Below are some creative coding examples by p5.js or vanilla javascript, and you can find detail here.</h3>

<section class="card-container">
  @for (work of works; track work) {
    <mat-card class="card-item">
      <mat-card-header>
        <mat-card-title>{{ work.title }}</mat-card-title>
<!--        <mat-card-subtitle>{{ work.subTitle }}</mat-card-subtitle>-->
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ work.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Detail</button>
        <button mat-raised-button color="primary" disabled>CodePen</button>
      </mat-card-actions>
    </mat-card>
  }
</section>

<a mat-raised-button color="primary" href="/P5Lab">See More</a>

