$logo-size: 60px;
$logo-size-sm: 16px;

.container {
  display: flex;
  padding-top: 8rem;

  .side {
    flex: 0 0 200px;
    display: flex;
  }

  .content {
    position: relative;
    padding: 1rem;
    flex: 1 0 min-content;
    background: rgba(255, 255, 255, 0.1);
  }
}

.container-lg {
  margin: 0 15%;
}

.container-sm {
  display: block;
  padding: 0;
  .side {
    padding: 1rem;
  }
}

.logo {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  z-index: 10;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    border-radius: 50%;
    background: #5518da;
    opacity: 0.4;
    width: $logo-size * 1.5;
    height: $logo-size * 1.5;
    transform: translate(-1rem, -50%);
  }

  &.sm::before {
    width: $logo-size-sm * 1.5;
    height: $logo-size-sm * 1.5;
    transform: translate(1ch, 24%);
    opacity: 1;
  }

}

a {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    right: -2px;
    width: 4px;
    height: 100%;
    opacity: 0.8;
    background: linear-gradient(60deg, #dac41f, #5518da);
    transition: all ease-in 0.2s;
    transform: scaleY(0);
    transform-origin: top;
  }

  &.active::after {
    transform: scaleY(1);
  }

  &.sm::after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    transform-origin: left;
  }

  &.sm.active::after {
    transform: scaleX(1);
  }

}

canvas {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(1px) contrast(200%) brightness(200%);
}
