<canvas #scene></canvas>
<section class="container" [ngClass]="{'container-lg': isMqlLarge, 'container-sm': isMqlSmall }">
  <div class="side">
    <div class="logo" [ngClass]="{sm: isMqlSmall}">KunLin</div>
    <nav>
      @for (anchor of navAnchors; track anchor) {
        <a mat-button [href]="anchor.path" [ngClass]="{active: anchor.path === currentPath, 'sm': isMqlSmall}">{{ anchor.label }}</a>
      }
    </nav>
  </div>
  <div class="content" [@routerAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</section>

